<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Turbo Code --> Home Page</title>
    <link
      rel="shortcut icon"
      href="/image/Logo/logo.jpeg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/home.css" />
    <script src="/js/fontasome.js"></script>
  </head>
  <body>
    <header>
      <div class="social">
        <span class="so"> <i class="fab fa-google"></i></span>
        <span class="so"><i class="fab fa-instagram"></i></span>
        <span class="so"><i class="fab fa-facebook"></i></span>
      </div>

      <div class="nav">
        <nav class="navbar" align="center">
          <img id="logo" src="/image/Logo/logo.jpeg" alt="" />
          <ul>
            <li>Home</li>
            <li>AboutUs</li>
            <li>Gallery</li>
            <li>ContactUs</li>
          </ul>
        </nav>
      </div>
      <div class="hero">
        <img src="/image/Normal/banner.png" alt="" />
      </div>

      <section id="point">
        <div class="container">
          <div class="item" id="1" align="center">
            <span class="icon"><i class="fas fa-bars"></i></span>
            <p class="para">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam
              facere, voluptas, id nobis cupiditate aperiam soluta. Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Temporibus, dolores?
            </p>
          </div>
          <div class="item" id="2" align="center">
            <span class="icon"><i class="fal fa-layer-plus"></i></span>
            <p class="para">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam
              facere, voluptas, id nobis cupiditate aperiam soluta. Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Temporibus, dolores?
            </p>
          </div>

          <div class="item" id="3" align="center">
            <span class="icon" id="book"><i class="fad fa-book"></i></span>
            <p class="para">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam
              facere, voluptas, id nobis cupiditate aperiam soluta. Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Temporibus, dolores?
            </p>
          </div>
        </div>
      </section>
      <hr />
      <section id="what_we_do">
        <h3>Our Work</h3>
        <div class="container">
          <div class="items">
            <img
              src="https://th.bing.com/th/id/OIP.jaLlv4bM0_Is51tvILTq_gHaFj?w=224&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7"
              alt=""
            />
            <h1>Lorem</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
              numquam eveniet exercitationem delectus autem nemo velit libero
              suscipit pariatur et consequatur vero earum enim deleniti dolorem!
              Odit pariatur minima aspernatur!
            </p>
          </div>

          <div class="items">
            <img
              src="https://th.bing.com/th/id/OIP.CAbdg61nSbOVjBwyYoVuBAHaFI?w=243&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7"
              alt=""
            />
            <h1>Lorem</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
              numquam eveniet exercitationem delectus autem nemo velit libero
              suscipit pariatur et consequatur vero earum enim deleniti dolorem!
              Odit pariatur minima aspernatur!
            </p>
          </div>

          <div class="items">
            <img
              src="https://th.bing.com/th/id/OIP.CAbdg61nSbOVjBwyYoVuBAHaFI?w=243&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7"
              alt=""
            />
            <h1>Lorem</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
              numquam eveniet exercitationem delectus autem nemo velit libero
              suscipit pariatur et consequatur vero earum enim deleniti dolorem!
              Odit pariatur minima aspernatur!
            </p>
          </div>

          <div class="items">
            <img
              src="https://th.bing.com/th/id/OIP.CAbdg61nSbOVjBwyYoVuBAHaFI?w=243&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7"
              alt=""
            />
            <h1>Lorem</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
              numquam eveniet exercitationem delectus autem nemo velit libero
              suscipit pariatur et consequatur vero earum enim deleniti dolorem!
              Odit pariatur minima aspernatur!
            </p>
          </div>

          <div class="items">
            <img
              src="https://th.bing.com/th/id/OIP.CAbdg61nSbOVjBwyYoVuBAHaFI?w=243&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7"
              alt=""
            />
            <h1>Lorem</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
              numquam eveniet exercitationem delectus autem nemo velit libero
              suscipit pariatur et consequatur vero earum enim deleniti dolorem!
              Odit pariatur minima aspernatur!
            </p>
          </div>

          <div class="items">
            <img
              src="https://th.bing.com/th/id/OIP.CAbdg61nSbOVjBwyYoVuBAHaFI?w=243&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7"
              alt=""
            />
            <h1>Lorem</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
              numquam eveniet exercitationem delectus autem nemo velit libero
              suscipit pariatur et consequatur vero earum enim deleniti dolorem!
              Odit pariatur minima aspernatur!
            </p>
          </div>

          <div class="items">
            <img
              src="https://th.bing.com/th/id/OIP.CAbdg61nSbOVjBwyYoVuBAHaFI?w=243&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7"
              alt=""
            />
            <h1>Lorem</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
              numquam eveniet exercitationem delectus autem nemo velit libero
              suscipit pariatur et consequatur vero earum enim deleniti dolorem!
              Odit pariatur minima aspernatur!
            </p>
          </div>

          <div class="items">
            <img
              src="https://th.bing.com/th/id/OIP.CAbdg61nSbOVjBwyYoVuBAHaFI?w=243&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7"
              alt=""
            />
            <h1>Lorem</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
              numquam eveniet exercitationem delectus autem nemo velit libero
              suscipit pariatur et consequatur vero earum enim deleniti dolorem!
              Odit pariatur minima aspernatur!
            </p>
          </div>
        </div>
      </section>

      <footer class="footer">
        <div class="inner">
            <div class="column is-logo">
                <a href="#" class="main-logo">
                    <div class="logo">
                        <img src="/image/Logo/logo.jpeg" alt="stackfindover">
                    </div>
                    <div class="logo-info">
                        <div class="text">Coding World</div>
                    </div>
                </a>
            </div>
            <div class="column is-nav">
                <div class="column-title">Navigation</div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Join</a></li>
                </ul>
            </div>
            <div class="column is-nav">
                <div class="column-title">Contact</div>
                <ul>
                    <li><a href="#"><i class="fa fa-envelope-open"></i> info@stackfindover.com</a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i>@stackfindover</a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i>Linkedin</a></li>
                </ul>
                <div class="column-title">Other</div>
                <ul>
                    <li><a href="#">Quiz</a></li>
                </ul>
            </div>
            <div class="column is-nav">
                <div class="column-title">Blog</div>
                <ul>
                    <li><a href="#">What is jQuery</a></li>
                    <li><a href="#">What is JavaScript</a></li>
                    <li><a href="#">How to make money with a blog</a></li>
                </ul>
            </div>
        </div>
    </footer>
    </header>
  </body>
</html>
