* {
  padding: 0px;
  margin: 0px;
}
.so {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.social {
  display: flex;
  flex-direction: row-reverse;
  background-color: blue;
  height: 20px;
}

nav {
  background-color: black;
  padding: 12px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar ul li {
  color: white;
  margin-right: 12px;
  padding: 5px;
  align-self: center;
  cursor: pointer;
}

.navbar ul li:hover {
  background-color: white;
  color: black;
}

#logo {
  height: 50px;
  width: 50px;
  border-color: white;
  border-width: 2px;
  align-content: center;
}

.hero {
  height: 450px;
  vertical-align: middle;
}

.hero img {
  width: 100%;
  height: 100%;
}

.icon {
  font-size: 50px;
  padding: 34px;
  background-color: white;
  border-radius: 50px;
  border-width: 2px;
  border-style: solid;
  color: black;
}

.item {
  background-color: rgb(207, 204, 200);
  margin-left: 5px;
  height: 245px;
  width: 250px;
  margin-top: 40px;
  justify-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.para {
  margin-top: 43px;
  width: 200px;
}

#book {
  transform: rotate3d(45deg);
}

.fad {
  transform: rotate(330deg);
}

#what_we_do .container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.items {
  width: 300px;
  background-color: rgb(204, 203, 202);
  border-radius: 20px;
  margin-left: 5px;
  margin-top: 10px;
  padding: 6px;
}

.items img {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  color: black;
  border-radius: 20px;
  display: block;
}

.items p {
  width: 280px;
  margin-left: 10px;
  color: aliceblue;
}

.items h1 {
  margin-left: 5px;
  color: aliceblue;
}

hr {
  margin-top: 25px;
}

#what_we_do h3 {
  font-size: 25px;
  margin: 5px 50px;
  text-decoration-line: underline;
}

a { text-decoration: unset; }
a:hover { text-decoration: underline; }
ul > li > a { color:#fff; }
ul > li { line-height: 1.5em; }

.footer {
  margin-top: 100px;
    display: block;
    position: relative;
    background: #150c21;
    padding: 150px 25px 50px 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.footer-start {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    width: 90%;
    margin: auto;
    padding: 80px 100px;
    background: #705df2;
    border-radius: 15px;
}
.start-learning {
    position: absolute;
    left: 0;
    right: 0;
    top: -150px;
}
.footer .inner {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 20px;
    max-width: 1180px;
    margin: auto;
    text-align: left;
}
.main-logo {
    position: relative;
    display: flex;
    align-items: center;
}
.main-logo .logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.main-logo .logo > img {
    display: block;
    width: 100%;
    min-width: 40px;
}
.logo-info {
    text-align: left;
    line-height: 20px;
}
.text {
    font-size: 17px;
    line-height: 17px;
    color: #fff;
    letter-spacing: .18em;
    font-weight: 600;
}
.copyright {
    color: #fff;
    font-size: 12px;
    line-height: 12px;
}
.footer .column {
    width: 100%;
    font-size: 14px;
    text-align: left;
}
.footer .column .column-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0.5em;
    color: #fff;
}
.footer .column .column-title:not(:first-child) {
    margin-top: 1em;
}
.illustration {
    left: 8%;
    position: absolute;
    top: -28px;
}
a.button {
    display: inline-flex;
    position: relative;
    height: 60px;
    margin-right: 20px;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    background: #fff;
    color: #705df2;
    border-radius: 36px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 30px;
    text-decoration: unset;
    box-shadow: 0px 24px 74px rgb(60 0 189 / 20%);
}
.section-title {
    font-size: 44px;
    font-weight: 700;
    color: #fff;
}
.section-sub-heading {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
}
.section-sub-heading span {
    opacity: 0.6;
}
.section-sub-heading strong {
    font-weight: 600;
}
@media only screen and (max-width: 990px) and (min-width: 200px) {

    .footer .inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .start-learning {
        position: unset;
    }
    .footer-start {
        width: 100%;
        display: block;
        padding: 30px 20px;
        margin: 30px 0;
    }
    .section-title {
        font-size: 30px;
    }
    .section-sub-heading {
        font-size: 18px;
    }
    footer.footer {
        padding-top: 0;
    }
    a.button {
        height: 50px;
        margin-top: 10px;
    }
    .column.is-logo {
        order: 4;
    }
}
